{% extends 'base.html' %}
{% block content %}
  <div>
    <a href="{% url 'note_edit' note.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Edit</a>
    <a href="{% url 'note_delete' note.id %}"
       class="btn btn-danger btn-sm ms-2"><i class="bi bi-trash"></i> Delete</a>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title fw-bold">{{ note.title }}</h3>
      <p class="card-text mt-2 note-body">{{ note.body }}</p>
      <hr />
      <small class="text-muted">
        Created: {{ note.created_at|date:"M d, Y H:i" }}
        <br />
        Updated: {{ note.updated_at|date:"M d, Y H:i" }}
      </small>
    </div>
  </div>
  <div class="text-center">
    <a href="{% url 'notes_list' %}" class="btn btn-outline-primary my-3"><i class="bi bi-arrow-left"></i> Back to the list</a>
  </div>
{% endblock content %}
