{% extends 'base.html' %}

{% block content %}
<h2 class="h2">{{ title }}</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-2">
    <label for="{{ form.title.id_for_label }}" class="form-label fw-bold m-0 mb-1">
      {{ form.title.label }}
      {% if form.title.field.required %}
      <span class="text-danger">*</span>
      {% endif %}
    </label>
    {{ form.title }}
    <div class="form-text">Max length: 100 symbols</div>
  </div>
  <div class="mb-2">
    <label for="{{ form.title.id_for_label }}" class="form-label fw-bold m-0 mb-1">
      {{ form.body.label }}
      {% if form.title.field.required %}
      <span class="text-danger">*</span>
      {% endif %}
    </label>
    {{ form.body }}
  </div>
  <div class="mb-2">
    <label for="{{ form.author.id_for_label }}" class="form-label fw-bold m-0 mb-1">
      {{ form.author.label }}
      {% if form.author.field.required %}
      <span class="text-danger">*</span>
      {% endif %}
    </label>
    {{ form.author }}
    <div class="form-text">
      Default name is "Anonymous". You can specify another
    </div>
  </div>
  <div class="bg-opacity-25 bg-warning p-3 rounded mt-3 text-muted">
    <strong>Important:</strong>
    The title and body of the note are required
  </div>
  <div class="my-3 d-flex justify-content-between">
    <div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="reset" class="btn btn-warning ms-2">Reset</button>
    </div>
    <div>
      {% if note %}
      <a href="{% url 'note_detail' note.id %}" class="btn btn-secondary">Undo</a>
      {% else %}
      <a href="{% url 'notes_list' %}" class="btn btn-secondary">Undo</a>
      {% endif %}
    </div>
  </div>
</form>
{% endblock content %}
