noteflow.prs2rnn.tech {

    encode zstd gzip

    log {
        output file /data/access.log
        format json
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    @static {
        path /static/*
    }

    header @static Cache-Control "public, max-age=31536000, immutable"

    handle_path /static/* {
        root * /staticfiles
        file_server
    }

    @media {
        path /media/*
    }

    header @media Cache-Control "public, max-age=3600"

    handle_path /media/* {
        root * /media
        file_server
    }

    reverse_proxy web:8000
}
