{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is my Django app for taking notes." />
    <title>NoteFlow</title>
    <link rel="shortcut icon"
          href="{% static 'img/icon.svg' %}"
          type="image/svg" />
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="d-flex align-items-center">
          <a href="{% url 'home' %}" class="navbar-brand fw-semibold">NoteFlow</a>
          <ul class="navbar-nav flex-row gap-3">
            <li class="nav-item">
              <a href="{% url 'home' %}"
                 class="nav-link
                        {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'notes_list' %}"
                   class="nav-link
                          {% if request.resolver_match.url_name == 'notes_list' %}active{% endif %}">Notes</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="d-flex align-items-center">
          {% if user.is_authenticated %}
            <div class="dropdown">
              <button class='btn btn-outline-primary dropdown-toggle'
                      type="button"
                      data-bs-toggle="dropdown">👤 {{ user.username }}</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="{% url 'notes_list' %}" class="dropdown-item">My Notes</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item text-danger">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary ms-2">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="border-top py-4 text-center">
      <div class="container">
        <p>&copy; Andrey Perestoronin, 2026</p>
      </div>
    </footer>
  </body>
</html>
