{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is my Django app for taking notes."
    />
    <title>My Notes</title>
    <link rel="shortcut icon" href="{% static 'img/icon.svg' %}" type="image/svg" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="{% url 'notes_list' %}" class="navbar-brand fw-semibold">My Notes</a>
        <div class="d-flex align-items-center">
          {% if user.is_authenticated  %}
          <div class="me-2">👤 {{ user.username }}</div>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger">
              Logout
            </button>
          </form>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary ms-2">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="border-top py-4 text-center">
      <div class="container">
        <p>&copy; Andrey Perestoronin, 2026</p>
      </div>
    </footer>
  </body>
</html>
